.row
  .span8
    %h2
      Mentors
      %span.subheading Recommended based on your interests

    - @matches.first(5).each do |user|
      .mentorbox
        %img.profile{:src => "#{user.image}?width=120&height=120"}
        .info
          %h3= link_to user.name, user
          %p.attributes
            %i.icon-globe
            = user.location
            %i.icon-bullhorn
            = user.language_list
          = "Skills: "
          - user.teach_skills.each do |t|
            = Skill.find(t.skill_id).name
  .span4
    .row
      .span4
        - if @user.meetings
          .meetingsbox
            .title
              %h2 Upcoming Meetings
            .mcontent
              - @user.upcoming_meetings.each do |m|
                .mitem
                  %h4
                    %span.highlight= m.relative_day
                    at
                    %span.highlight= m.hour
                    with

                  - unless m.mentor.id == @user.id
                    .mprofile
                      %img{:src => "#{m.mentor.image}?width=30&height=30"}
                      = link_to m.mentor.name, m.mentor
                      %span.type , Mentor
                  - unless m.mentee.id == @user.id
                    .mprofile
                      %img{:src => "#{m.mentee.image}?width=30&height=30"}
                      = link_to m.mentee.name, m.mentee
                      %span.type , Mentee
                  - if m.translator
                    - unless m.translator.id == @user.id
                      .mprofile
                        %img{:src => "#{m.translator.image}?width=30&height=30"}
                        = link_to m.translator.name, m.translator
                        %span.type , Translator
                  - if m.time < Time.now - 30.minutes
                    = link_to "Join!", m 
    .row
      .span4
        - if !@translate_meetings.empty? and current_user.bilingual?
          .meetingsbox
            .title
              %h2 Translation Needed
            .mcontent
              - @translate_meetings.reject{ |m| m.time < Time.now }.reject{ |m| m.mentor_id == @user.id || m.mentee_id == @user.id}.each do |tm|
                .mitem
                  %h4
                    %span.highlight= tm.relative_day
                    at
                    %span.highlight= tm.hour
                  = form_for tm do |f|
                    = f.hidden_field :translator_id, :value => current_user.id
                    = f.submit "Translate this meeting"

