.video_box
  .stream_container.big#mentor_container
    %h2.role Mentor
    %h1.name= @names[:mentor]
    .stream#mentor_stream
  .stream_container.small#translator_container
    .stream#translator_stream
    %h2.role Translator
    %h1.name= @names[:translator]
  .stream_container.big#mentee_container
    %h2.role Mentee
    %h1.name= @names[:mentee]
    .stream#mentee_stream

:javascript
  var opentok_api_key = "#{@api_key}";
  var opentok_session_id = "#{@session_id}";
  var opentok_token = "#{@token}";
  var user_role = "#{@user_role}"