%h1= "Edit %s %s" % [ @user.first_name, @user.last_name ]

= form_tag :action => :update do
  = "Bio"
  = text_field_tag 'bio', @user.bio
  %br
  = "Languages you speak:"
  - ids = @user.languages.map{ |ul| ul.name }
  = "English"
  = check_box_tag "languages[]", "English", ids.include?("English")
  = "Arabic"
  = check_box_tag "languages[]", "Arabic", ids.include?("Arabic")
  %br
  = "Skills you want to learn:"
  - learn_skills = @user.learn_skills.map{ |ls| ls.skill_id }
  - @skills.each do |s|
    = s.name
    = check_box_tag "learn_skills[]" , "#{s.id}", learn_skills.include?(s.id)
  %br
  = "Skills you have:"
  - teach_skills = @user.teach_skills.map{ |ts| ts.skill_id }
  - @skills.each do |s|
    = s.name
    = check_box_tag "teach_skills[]", "#{s.id}", teach_skills.include?(s.id)

  %br
  = submit_tag

