%h1= "Edit %s %s" % [ @user.first_name, @user.last_name ]

= form_tag :action => :update do
  = "Bio"
  = text_field_tag 'bio'
  %br
  = "Languages you speak:"
  - Language.all.each do |l|
    = l.name
    = check_box_tag "languages[]", "#{l.id}"
  %br
  = "Skills you want to learn:"
  - @skills.each do |s|
    = s.name
    = check_box_tag "learn_skills[]" , "#{s.id}"
  %br
  = "Skills you have:"
  - @skills.each do |s|
    = s.name
    = check_box_tag "teach_skills[]", "#{s.id}"

  %br
  = submit_tag

