%h1= "Edit %s %s" % [ @user.first_name, @user.last_name ]

= form_for @user, :url => { :action => "update" } do |f|
  = f.label :bio, 'Bio'
  = f.text_field :bio
  = f.label :email, "English"
  = f.check_box :email, {}, 1, 0
  = f.label :timezone, "Arabic"
  = f.check_box :timezone, {}, 1, 0
  %br
  = f.submit