%h3
  = "Hi, #{current_user.first_name}!"
%h2
  = "Your matches:"
- matches = @matches.first(5)
- matches.each do |match|
  - user = User.find(match.first.to_i)
  = link_to "#{user.first_name} #{user.last_name}", user
  = "Skills: "
  - user.teach_skills.each do |t|
    = Skill.find(t.skill_id).name
  = "Languages: "
  - user.languages.each do |l|
    = l.name
  %br 
- if @user.meetings
  %h2
    = "Your upcoming meetings:"
  - @user.meetings.each do |m|
    = "#{m.time} - Mentor: "
    - if m.mentor.id == @user.id
      = "You"
    - else
      = link_to "#{m.mentor.name}", m.mentor 
    = ", Mentee: "
    - if m.mentee.id == @user.id
      = "You"
    - else
      = link_to "#{m.mentee.name}", m.mentee
    - if m.translator
      = ", Translator: "
      - if m.translator.id == @user.id
        = "You"
      - else
        = link_to "#{m.translator.name}", m.translator
