!!!
%html
%head
  %title Mentorme
  = stylesheet_link_tag    "application", :media => "all"
  = javascript_include_tag "application"
  = javascript_include_tag "http://static.opentok.com/v1.1/js/TB.min.js"
  = csrf_meta_tags
%body
  = yield